body {
    font-family: Inter, sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    background: #161616;
    padding: 20px;
}


.line-status {
    background: #252525;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 20px;
    color: #fff; 
}

.line {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 5px;
    padding: 5px;
}