<header class="smd-layout_header--floating">
  <div class="smd-layout_header-logo">
    <a href="/">
      <img src="/static/favicon.png" alt="Logo">
    </a>
    <span class="smd-layout_header-title">Community Railway</span>
  </div>

  <nav class="smd-layout_navbar">
    <a href="/">Status Overview</a>
    <a href="/dashboard">Line Dashboard</a>
    
  </nav>

  <div class="smd-layout_navbar-right">
    {% if not session.get('user') %}
      <a href="{{ url_for('auth.login') }}">Login</a>
    {% else %}
      <div class="smd-component_dropdown">
        <button class="smd-component_dropdown-dropbtn" onclick="toggleDropdown()">
          {{ session.user.username }}
          <div class="smd-layout_navbar-profile-picture">
            <img src="https://cdn.discordapp.com/avatars/{{ session.user.id }}/{{ session.user.avatar }}.png" alt="Profile Picture">
          </div>
        </button>

        <div class="smd-component_dropdown-content">
          <div class="smd-component_dropdown-header">
            <a href="/"><img src="/static/favicon.png" class="smd-component_dropdown-logo" style="width: 17%; padding-bottom: 10px"></a>

            <div class="smd-component_dropdown-profile">
              <div class="smd-component_dropdown-profile-name">@{{ session.user.username }}</div>
              <div class="smd-component_dropdown-profile-picture">
                <img src="https://cdn.discordapp.com/avatars/{{ session.user.id }}/{{ session.user.avatar }}.png" alt="Profile Picture">
              </div>
            </div>
            <hr>
          </div>

          <div class="smd-component_dropdown-content-main">
            <a href="{{ url_for('auth.logout') }}">
              <span class="material-symbols-outlined material-symbols-outlined--ul">logout</span>
              <span class="smd-component_dropdown-content-main-text">Logout</span>
            </a>
            <div class="smd-component_dropdown-spacer"></div>
          </div>

        </div>
    {% endif %}
      </div>

    <script>
      function toggleDropdown() {
        document.querySelector('.smd-component_dropdown-content').classList.toggle('show');
      }

      window.onclick = function (event) {
        if (!event.target.matches('.smd-component_dropdown-dropbtn')) {
          var dropdowns = document.getElementsByClassName('smd-component_dropdown-content');
          for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
    </script>
  </div>
  <hr>
</header>