.content {
    margin-top: 100px;
    color: white;
}

.line-status {
    display: block;
    border-radius: 20px;
    background-color: var(--color-background-deep);
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 20px;
}

.lines {
    display: flex;
    flex-wrap: wrap;
}

.line {
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transform: translateY(0);
}

.line:hover {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.35), 0 25px 65px 0 rgba(0, 0, 0, 0.30);
    transform: translateY(-5px);
}

.line-modal {
    display: inline-block;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transform: translateY(0);
}

.line-modal:hover {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.35), 0 25px 65px 0 rgba(0, 0, 0, 0.30);
    transform: translateY(-5px);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: -100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal.show {
    opacity: 1;
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-background-deep);
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
    width: 80%;
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.modal.show .modal-content {
    transform: translateY(0);
    opacity: 1;
}

#close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transform: translateY(0);
}

#close:hover,
#close:focus {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.35), 0 25px 65px 0 rgba(0, 0, 0, 0.30);
    transform: translateY(-5px);
    color: red;
    text-decoration: none;
    cursor: pointer;
}
