{% extends "base/base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/admin.css">
{% endblock stylesheet %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Admin Panel</h1>
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Admin Actions</h2>
                <ul>
                    <li><a href="/admin/users">Manage Users</a></li>
                    <li><a href="/admin/settings">Settings</a></li>
                    <li><a href="/admin/logs">View Logs</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}